---
title: How to start and complete your ideas
date: 2017/1/21
---
<p>
	The idea of starting a project is always exciting. Be it an e-commerce website, an expansion of existing business or a start of a freelance journey. At first, we always find attractive the feeling of launching something new and then we proceed to implement it. This is where problems arise, due to overwhelming analysis paralysis. We overthink how to continue or even abandon the idea all together, because of distracting details.
</p>

<p>
	I was talking to a friend who was describing his project. However, he was not sure how to start implementing it. He was uncertain how to display the content on the website for good user experience. Also, he wasn’t convinced who to hire for this job. Give it to local agency or outsource it and get a cheaper deal. He was stuck with his idea for some time because in his head he couldn’t figure out how to organize the layout of the webpage!
</p>

<p>
	I replied that he was focusing on the wrong things. I asked him “what is the single most important thing you need to take care of <b>right now</b> in order for the project to exist?”. We quickly came to the consensus that the back-end functionality is the main thing to worry about. If he doesn’t have the “engine” for the website, then no matter what the page looks like, it is not going to be functional.
</p>

<p>
	This is a common practice in programming. Effective programmers know what to focus on at each stage of development. We start with the most important piece that will enable the other parts to work. Next, we move up the pyramid to less core stuff. So for example, first there needs to be a mechanism that sends an email. Then a mechanism that captures the message from the webpage. Only after that should we worry about where to place the form, what styles it should have, etc.
</p>

<p>
	Apply this mentality to everything you do. What is the single most important thing you need to study for this test, that will make the other stuff easier? What is absolutely necessary for you to begin freelancing? Start things from the fundamentals and you will stop running in circles.
</p>