---
title: How To Use Sublime How To Use Sublime
date: 2015/2/2
---

<p>In 2012 things were going well for <a href="">node.js</a>. We had a thriving community, solid core contributions, and it was already clear that we were the fastest growing ecosystem in the world. Around this time a few people noted <a href="">their concerns</a> about the ownership of the project. Community had been driving the project quite successfully so when people raised these concerns myself and others considered them tin foil hat hand wavers and ignored them.</p>

<p>We consider io.js to be owned by the community. However, without a legal entity to own property it means that various io.js assets are in reality owned by individuals and companies. The domain name is owned by Fedor, the billing contact for the GitHub org is Colin, the keys used for signing the releases are <a href="">owned</a> by NodeSource, etc. With all the current owners acting in good faith this ownership isn’t an immediate problem, just as it wasn’t a problem for node.js in 2012, but the more successful we are the worse it could be, so this is something that keeps me up at night.</p>

<p class="bleed">
  <img src="https://unsplash.it/800/300/?random" alt="">
</p>


<p>A number of companies support the io.js project and its community. Build resources are being donated by DigitalOcean, Rackspace, NodeSource, Linaro, Scaleway, Joyent and Voxer. As early as the first week of development members of the TC were paid to work on io.js fulltime by NodeSource, Strongloop, Voxer, and Walmart. The project is run by the community but we’ve always persisted on the good will of companies that stepped up to help out the project.</p>