<% wrap_layout :base_layout do %>
  <body class="<%= page_classes %>">

    <section class="blog-header">
      <a href="/blog"><h1>Common Sense</h1></a>
    </section>

    <section class="blog-container">
      <div class="article-head">
        <h1><%=current_page.data.title%></h1>
        <span class="date"><%=DateTime.parse(current_page.data.date).strftime('%e %b %Y') %></span>
      </div>

      <article class="article">
        <%= yield %>
      </article>
    </section>
  </body>
<% end %>