<% wrap_layout :layout do %>

<div class="article-head"><h1><%=current_page.data.title%></h1>
  <span class="date"><%=DateTime.parse(current_page.data.date).strftime('%e %b %Y') %></span>
</div>

<article class="article">
  <%= yield %>
</article>

<% end %>