<% wrap_layout :base_layout do %>
	<div class="bio">
		<p>
			Hi! I'm Paul. 
			I am a <a href="http://pavelmarx.com/" target="_blank">software developer</a>. Periodically, I will be publishing here my thoughts on technology, travelling and other insignificant stuff.
		</p>		
	</div>
    
  <%= yield %>

<% end %>