.blog-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  padding: 15px;

  h1 {
    font-size: 1.5em;
    color: #454E55;
    text-align: center;
  }

  @include breakpoint($breakpoint-md){
    h1 {text-align: left;}
  }
}

.article .bleed {
  @include bleed(2 of 12);
  padding-left: 0;
  padding-right: 0;

  img{width: 100%;}
}

.article-title {
  text-transform: capitalize;
  line-height: 1.2em;
}

.blog-headline{
  font-size: 2.5em;
  text-align: center;
  font-family: 'Old Standard TT', serif;
  color: #fff;
  margin-top: 15px;

  &:hover{color: $blue;}
}

.portfolio__item,
.open-source__item{
  position: relative;
  margin-bottom: 25px;

  @include breakpoint($breakpoint-md){
    .portfolio__item--thumb{
      border:3px solid $gray;
    }
  }

  .portfolio__item--title{
    color: $dark-gray;
    margin-top: 6px;
    font-family: 'Open Sans', sans-serif;
  }

}

.article-head{
  margin-bottom: 40px;

  .date{
    font-size:.7em;
    color: $dark-gray;
  }
}