@font-face {
  font-family: 'Frankli-Gothic-Book';
  src: url('../fonts/frabk/FRABK.eot'); /* IE9 Compat Modes */
  src: url('../fonts/frabk/FRABK.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/frabk/FRABK.woff') format('woff'), /* Modern Browsers */
       url('../fonts/frabk/FRABK.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/frabk/FRABK.svg#e95044bdf3d49bd024dea3f387a9411b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DubielPlain';
  src: url('../fonts/dubiel/DUBIEL.eot'); /* IE9 Compat Modes */
  src: url('../fonts/dubiel/DUBIEL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dubiel/DUBIEL.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dubiel/DUBIEL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dubiel/DUBIEL.svg#206992e1eb64e7d6db8e927ca8ed1dc9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

body{
  font-family: Frankli-Gothic-Book;
}

h2{
  line-height: 2em;
}

a{
  text-decoration: none;
  color: #0f8ed7;
}

p{
  font-size: 1.2em;
}


