<ul>
  <% if blog.articles == []%>
    Paul hasn't written anything yet! Come back later...
  <%else%>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <% articles.each_with_index do |article| %>
        <li class="portfolio__item">
          <a href="/paul/blog<%= article.url %>">
            <img class="portfolio__item--thumb" src="http://dummyimage.com/300x300/c90ec9/fff" alt="<%= article.title %>">
            <h3 class="portfolio__item--title"><%= article.title %></h3>
          </a>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

