<ul>
  <% if blog.articles == []%>
    Paul hasn't written anything yet! Come back later...
  <%else%>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <% articles.each_with_index do |article| %>
        <li class="portfolio__item">
          <a href="<%= env_url %><%= article.url %>">
            <h2 class="article-title"><%= article.title %></h2>
          </a>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

